# Strapi backend environment variables
HOST=0.0.0.0
PORT=1337
APP_KEYS="change-me-1,change-me-2,change-me-3,change-me-4"
API_TOKEN_SALT=change-me-api-token-salt
ADMIN_JWT_SECRET=change-me-admin-jwt-secret
TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
JWT_SECRET=change-me-jwt-secret
CLOUDINARY_NAME=dhk3fypaz
CLOUDINARY_KEY=571481833717993
CLOUDINARY_SECRET=BRQrCbwtvEwkxXsDWw8uL64rT7o
